<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Mettre à jour mes informations</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="Pseudo">Pseudo</label>
        <input type="text" class="form-control" id="company"  [(ngModel)]="medecin.username">
      </div>
      <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="medecin.nom">
      </div>
      <div class="form-group">
        <label for="Prenom">Prenom</label>
        <input type="text" class="form-control" id="firstname" [(ngModel)]="medecin.prenom">
      </div>
      <div class="form-group">
        <label for="specialite">Spécialité</label>
        <select class="form-control" id="specialite" [(ngModel)]="specialiteId"><!-- TODO remplacer les champs placeholder et ngmodel -->
          <option *ngFor="let specialite of listSpecialites" value="{{specialite.idSpecialite}}">{{specialite.nom}}</option>
        </select>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <label for="Email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="{{medecin.email}}" [(ngModel)]="medecin.email">
        </div>
        <div class="form-group col-sm-4">
          <label for="Date-naissance">Date de naissance</label>
          <input type="text" class="form-control" id="date-naissance" placeholder="{{medecin.dateNaissance}}" [(ngModel)]="medecin.dateNaissance">
        </div>
      </div><!--/.row-->
      <div class="form-group">
        <label for="Telephone">Telephone</label>
        <input type="text" class="form-control" id="postal-code" placeholder="{{medecin.telephone}}" [(ngModel)]="medecin.telephone">
      </div>
      <button type="button" class="btn btn-success" (click)=update()>Enregistrer</button>
      <button type="button" class="btn btn-danger" (click)=delete()>Supprimer mon compte</button>
    </div>
  </div>
</div><!--/.col-->
