<p>
  forms-medecin works!{{id}}
</p>

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Medecin</strong>
      <small>Mise à jour</small>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="Pseudo">Pseudo</label>
        <input type="text" class="form-control" id="company" placeholder="">
      </div>
      <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="">
      </div>
      <div class="form-group">
        <label for="Prenom">Prenom</label>
        <input type="text" class="form-control" id="firstname" placeholder="">
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <label for="Email">Email</label>
          <input type="text" class="form-control" id="city" placeholder="">
        </div>
        <div class="form-group col-sm-4">
          <label for="Date-naissance">Date de naissance</label>
          <input type="text" class="form-control" id="date-naissance" placeholder="">
        </div>
      </div><!--/.row-->
      <div class="form-group">
        <label for="Telephone">Telephone</label>
        <input type="text" class="form-control" id="postal-code" placeholder="">
      </div>
    </div>
  </div>
</div><!--/.col-->
