<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
          Mes Fiches Médicales
      </div>
      <div class="card-body">
          <div class="chart-wrapper">
                <p *ngIf="indiceFiche1">Aucunes fiches médicales présentes</p>
                <table class="table tabler-bordered" *ngIf="indiceFiche2">
                  <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Antecedents</th>
                    <th>Observations</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let item of fichesSort">
                    <td>{{item.nom}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.antecedents}}</td>
                    <td>{{item.observations}}</td>
                    <td>
                      <!-- Bouton télécharger fiche médicale TODO-->
                      <button class="btn btn-warning">Download</button>
                    </td>
                  </tr>
                </table>
          </div>
      </div>
  </div>
</div>