#ficheMedicale {
    width: 100%;
    text-align: center;
}

#ficheMedicale h1 {
    font-size: 7em;
    margin: 8% 0%;
}

#ficheMedicale h3 {
    font-size: 2em;
}

.card-header {}

#ficheMedicale .card-header {
    font-size: 2em;
}

#ficheMedicale p {
    font-size: 1em;
}

#ficheMedicale h5 {
    font-size: 2em;
}