<button class="btn btn-success" (click)="showModalInfoConsultation(infoId)">Info</button>


<div bsModal #infoConsultation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalReponseQuestionnaireLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Informations Détaillées</h3>
        <button type="button" class="close" (click)="infoConsultation.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2> - Informations du Médecin - </h2>
        <h3>Médecin : <small>{{medecin.nom}} {{medecin.prenom}}</small></h3> 
        <h3>Adresse : <small>{{medecin.adresse.numero}} {{medecin.adresse.rue}} {{medecin.adresse.ville}}</small></h3>
        <h3>Spécialité : <small>{{medecin.specialite.nom}}</small></h3>
        <h3>Téléphone : <small>{{medecin.telephone}}</small></h3>
        <h3>Email : <small>{{medecin.email}}</small></h3>
        <br>
        <h2> - Informations de la Consultation - </h2>
        <h3>Date : <small>{{consultation.date | date: 'fullDate'}}</small></h3>
        <h3>Heure : <small>{{consultation.date | date: 'shortTime'}}</small></h3>
        <h3>Durée : <small>{{consultation.dureeConsultation}}</small></h3>
        <h3>Prix : <small>{{consultation.prixTTC}} $</small></h3>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->