<button class="btn btn-success" (click)="infoConsultation.show(item)">Info</button>


<div bsModal #infoConsultation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalReponseQuestionnaireLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Informations Détaillées</h3>
        <button type="button" class="close" (click)="infoConsultation.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <h2>Médecin : </h2>
        <br>Adresse :
        <br>Spécialité :
        <br>Téléphone :
        <br>Email :
        <br>
        <br>Date :
        <br>Heure :
        <br>Durée :

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->