<div class="animated fadeIn">
  <div class="card-columns cols-2">


    <div class="card">
      <div class="card-header">
        Mon Profil
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <h1>Bonjour Admin</h1>
          <hr>
          <button style="text-align: auto;" class="btn btn-info">Modifier</button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/statistique" class="btn btn-info">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-Araignee idMedecin="-1"></app-Araignee>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Calendrier
      </div>
      <div class="card-body">
        <div class="chart-wrapper">

        </div>
      </div>
    </div>

    <!-- Consultations -->
    <div class="card">
      <div class="card-header">


        <div class="d-flex align-items-center justify-content-between">
          Editer questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/questionnaire" class="btn btn-info">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="card-body">



      </div>
    </div>


  </div>
</div>