<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <!-- Profil -->
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Mot de passe
          <div class="card-header-actions">
            <a href="#/admin/editer" class="btn btn-info">Editer</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
        </div>
      </div>
    </div>

    <!-- Questionnaire -->
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/statistique" class="btn btn-info">Consulter</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-Araignee idMedecin="-1"></app-Araignee>
      </div>
    </div>

    <!-- Editer un questionnaire -->
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Editer questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/questionnaire" class="btn btn-info">Consulter</a>
          </div>
        </div>
      </div>

      <div class="card-body">
      </div>
    </div>

    <!-- Gérer utilisateurs -->
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Gérer les utilisateurs
          <div class="card-header-actions">
            <a href="#/admin/users" class="btn btn-info">Consulter</a>
          </div>
        </div>
      </div>

      <div class="card-body">
      </div>
    </div>

  </div>
</div>