<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <!-- Profil -->
    <div class="card border-info">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Mot de passe
          <div class="card-header-actions">
            <a href="#/admin/editer" class="btn btn-info">Editer</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
        </div>
      </div>
    </div>

    <!-- Resultat Questionnaire -->
    <div class="card border-primary">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/statistique" class="btn btn-info">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-Araignee idMedecin="-1"></app-Araignee>
      </div>
    </div>

    <!-- Gain -->
    <div class="card border-danger">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Modifier le pourcentage de prélévement 
          <div class="card-header-actions">
            <a href="#/admin/taxe" class="btn btn-info">Modifier</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <b> Pourcentage actuel :</b>  {{formule.taxe}} % <br>
          <b> En vigueur depuis :</b>  {{formule.date | date:'d/M/yyyy, HH:mm' }}
        </div>
      </div>
    </div>

    <!-- Editer un questionnaire -->
    <div class="card border-danger">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Editer questionnaire de satisfaction
          <div class="card-header-actions">
            <a href="#/admin/questionnaire" class="btn btn-info">Editer</a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div>
          <h3> <u class="mr-3"> Question 1 : </u> <b>{{questionnaire.tagQuestion1}}</b></h3>
          {{questionnaire.question1}}
        </div>
        <hr>
        <div>
          <h3> <u class="mr-3"> Question 2 : </u> <b>{{questionnaire.tagQuestion2}}</b></h3>
          {{questionnaire.question2}}
        </div>
        <hr>
        <div>
          <h3> <u class="mr-3"> Question 3 : </u> <b>{{questionnaire.tagQuestion1}}</b></h3>
          {{questionnaire.question3}}
        </div>
        <hr>
        <div>
          <h3> <u class="mr-3"> Question 4 : </u> <b>{{questionnaire.tagQuestion1}}</b></h3>
          {{questionnaire.question4}}
        </div>
      </div>
    </div>

    <!-- Gérer utilisateurs -->
    <div class="card border-warning">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Gérer les utilisateurs
          <div class="card-header-actions">
            <a href="#/admin/users" class="btn btn-info">Consulter</a>
          </div>
        </div>
      </div>

      <div class="card-body">
      </div>
    </div>

    <!-- Gain -->
    <div class="card border-success">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          Statistique des gains
          <div class="card-header-actions">
            <a href="#/admin/gain" class="btn btn-info">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <b> Gain total de l'application :</b>  {{gainTotal}} €
        </div>
      </div>
    </div>

  </div>
</div>