<!-- TODO Calendar-->
<div class="animated fadeIn">
    <div class="card border-primary">
        <div class="card-header">
            Calendrier
        </div>
        <div class="card-body">
            <div class="chart-wrapper">
                <div id="calendar">
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>

                <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-primary" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Ajouter une spécialité</h3>
                                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>


                            <div id="infos">
                                <p><b>duree de la consultation : </b>{{infos.dureeConsultation}} minutes </p>
                                <!-- <p><b>note : </b>{{infos.note}} </p> -->
                                <div *ngIf=infos.deplacement>
                                    <p><b>deplacement: </b>Oui</p>
                                </div>
                                <div *ngIf=!infos.deplacement>
                                    <p><b>deplacement: </b>Non</p>
                                </div>
                                <div *ngIf=infos.validationMedecin>
                                    <p><b>Validation par le medecin : </b>Oui</p>
                                </div>
                                <div *ngIf=!infos.validationMedecin>
                                    <p><b>Validation par le medecin (il est temps de le valider mon coco) :</b>Non</p>
                                </div>
                                <p><b>note du patient : </b>{{infos.note}}</p>
                            </div>
                            <div *ngIf="infos.validationMedecin==false" class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="valider()">Validation de la
                                    consultation</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Les Autres Cards -->
<div class="animated fadeIn">
    <div class="card-columns cols-2">

        <!-- Profil -->
        <div class="card border-danger">
            <div class="card-header">
                Mon Profil
                <div class="card-header-actions" style="height: 21px;">
                    <button class="btn btn-warning btn-sm" [routerLink]="['/medecin/update']" routerLinkActive="router-link-active">Modifier</button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <p>Bonjour Docteur {{medecin.nom}} {{medecin.prenom}}</p>
                </div>
            </div>
        </div>

        <!-- Fiches Medicales -->
        <div class="card border-info">
            <div class="card-header">
                Mes Futurs Patients
                <div class="card-header-actions" style="height: 21px;">
                    <button class="btn btn-success btn-sm" [routerLink]="['/medecin/patients']" routerLinkActive="router-link-active">Mes Patients</button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <table class="table tabler-bordered">
                        <tr>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let item of futurPatient">
                            <td>{{item.patient.nom}} {{item.patient.prenom}}</td>
                            <td>{{item.date | date:'short'}}</td>
                            <td>
                                <button class="btn btn-info" [routerLink]="['/medecin/fiches', {pId:item.patient.id}]" routerLinkActive="router-link-active">Info Médicale</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Statistiques -->
        <div class="card border-success">
            <div class="card-header">
                Statistiques
                <div class="card-header-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <!--
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
                </div>
            </div>
        </div>

        <!-- Gains -->
        <div class="card border-dark">
            <div class="card-header">
                Vos Gains
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <!-- <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
                </div>
            </div>
        </div>

        <!-- Rapports Satisfactions -->
        <div class="card border-warning">
            <div class="card-header">
                Rapports de Satisfactions
                <div class="card-header-actions" style="height: 21px;">
                    <button class="btn btn-info btn-sm">Accéder</button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-wrapper">
                    <!-- <canvas baseChart class="chart" [datasets]="radarChartData" [labels]="radarChartLabels"
            [chartType]="radarChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas> -->
                </div>
            </div>
        </div>

    </div>
</div>