<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="">
            <div class="">
              <div class="card-body">
              </div>
              
              <tabset>
                <tab>
                  <ng-template tabHeading ><h3><i class="fa fa-user-md fa-lg mt-4"></i> Médecin</h3></ng-template>
                  
                    <h1>Créer un compte</h1>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="Pseudo">Pseudo</label>
                        <input type="text" class="form-control" id="company" placeholder="{{medecin.username}}" [(ngModel)]="medecin.username">
                      </div>
                      <div class="form-group">
                        <label for="Nom">Nom</label>
                        <input type="text" class="form-control" id="name" placeholder="{{medecin.nom}}" [(ngModel)]="medecin.nom">
                      </div>
                      <div class="form-group">
                        <label for="Prenom">Prenom</label>
                        <input type="text" class="form-control" id="firstname" placeholder="{{medecin.prenom}}" [(ngModel)]="medecin.prenom">
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-8">
                          <label for="specialite">Spécialité</label>
                          <select class="form-control" id="specialite" [(ngModel)]="specialiteId">
                            <option *ngFor="let specialite of listSpecialites" value="{{specialite.idSpecialite}}">{{specialite.nom}}</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="specialite">Il manque votre spécialité ?</label>
                          <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="myModal.show()">
                            Ajouter une spécialité
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-8">
                          <label for="Email">Email</label>
                          <input type="text" class="form-control" id="email" placeholder="{{medecin.email}}" [(ngModel)]="medecin.email">
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="Date-naissance">Date de naissance</label>
                          <input type="text" class="form-control" id="date-naissance" placeholder="{{medecin.dateNaissance}}" [(ngModel)]="medecin.dateNaissance">
                        </div>
                      </div><!--/.row-->
                      <div class="form-group">
                        <label for="Telephone">Telephone</label>
                        <input type="text" class="form-control" id="postal-code" placeholder="{{medecin.telephone}}" [(ngModel)]="medecin.telephone">
                      </div>
                      <div class="form-group">
                        <label for="Password">Mot de passe</label>
                        <app-Alerte></app-Alerte>
                        <input type="password" class="form-control"  placeholder="Mot de passe" [(ngModel)]="medecin.password">
                      </div>
                      <div class="form-group">
                        <label for="PasswordCheck">Répétez le mot de passe</label>
                        <input type="password" class="form-control"  placeholder="Mot de passe" [(ngModel)]="checkPassword">
                      </div>
                      <button type="button" class="btn btn-success" (click)=saveMedecin()>Enregistrer</button>
                    </div>
                </tab>

                <tab>
                  <ng-template tabHeading class="bg-red"><h3><i class="fa fa-user fa-lg mt-4"></i> Patient</h3></ng-template>
                  
                    <h1>Créer un compte</h1>
                    <div class="form-group">
                      <label for="Pseudo">Pseudo</label>
                      <input type="text" class="form-control"  placeholder="{{patient.username}}" [(ngModel)]="patient.username">
                    </div>
                    <div class="form-group">
                      <label for="Nom">Nom</label>
                      <input type="text" class="form-control"  placeholder="{{patient.nom}}" [(ngModel)]="patient.nom">
                    </div>
                    <div class="form-group">
                      <label for="Prenom">Prenom</label>
                      <input type="text" class="form-control"  placeholder="{{patient.prenom}}" [(ngModel)]="patient.prenom">
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control"  placeholder="{{patient.email}}" [(ngModel)]="patient.email">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="Date-naissance">Date de naissance</label>
                        <input type="text" class="form-control"  placeholder="{{patient.dateNaissance}}" [(ngModel)]="patient.dateNaissance">
                      </div>
                    </div><!--/.row-->
                    <div class="form-group">
                      <label for="Telephone">Telephone</label>
                      <input type="text" class="form-control"  placeholder="{{patient.telephone}}" [(ngModel)]="patient.telephone">
                    </div>
                    <div class="form-group">
                      <label for="Password">Mot de passe</label>
                      <app-Alerte></app-Alerte>
                      <input type="password" class="form-control"  placeholder="Mot de passe" [(ngModel)]="patient.password">
                    </div>
                    <div class="form-group">
                      <label for="PasswordCheck">Répétez le mot de passe</label>
                      <input type="password" class="form-control"  placeholder="Mot de passe" [(ngModel)]="checkPassword">
                    </div>
                    <button type="button" class="btn btn-block btn-success" (click)=savePatient()>Créer</button>
                  
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- modal ajout specialité -->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Ajouter une spécialité</h3>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-nouvelle-specialite></app-nouvelle-specialite>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="validationModal()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
