<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <!-- Medecin-->
    <div class="card">

      <div class="card-header">
        Consulter un médecin
        <div class="card-header-actions" style="height: 21px;">
          <button class="btn btn-info btn-sm">Consulter</button>
        </div>
      </div>

      <div class="card-body">
        <div class="chart-wrapper">
        </div>
      </div>
    </div>

    <!-- Consultations -->
    <div class="card">
      <div class="card-header">
        Mes Consulations
      </div>
      <div class="card-body">

        <!-- A Venir -->
        <div class="chart-wrapper">
          <h3 style="text-align: center;">A venir</h3>
          <table class="table tabler-bordered">
            <tr>
              <th>Médecin</th>
              <th>Date</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of consultVenir">
              <td>{{item.medecin.nom}} {{item.medecin.prenom}}</td>
              <td>{{item.date | date:'short'}}</td>
              <td><app-infoConsultation-patient infoId="item"></app-infoConsultation-patient></td>
            </tr>
          </table>
        </div>

        <!-- En attente du médecin -->
        <div class="chart-wrapper">
          <hr>
          <h3 style="text-align: center;">En attente</h3>
          <table class="table tabler-bordered">
            <tr>
              <th>Médecin</th>
              <th>Date</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of consultValide">
              <td>{{item.medecin.nom}} {{item.medecin.prenom}}</td>
              <td>{{item.date | date:'short'}}</td>
              <td><button class="btn btn-danger" (click)="deleteConsult(item)">Delete</button></td>
            </tr>
          </table>
        </div>

        <!-- Passées -->
        <div class="chart-wrapper">
          <hr>
          <h3 style="text-align: center;">Passées</h3>
          <table class="table tabler-bordered">
            <tr>
              <th>Médecin</th>
              <th>Spécialité</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of consultPasse">
              <td>{{item.medecin.nom}} {{item.medecin.prenom}}</td>
              <td>{{item.medecin.specialite.nom}}</td>
              <td>
                <app-reponseQuestionnaire testId="item.id"></app-reponseQuestionnaire>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Profil OK -->
    <div class="card">
      <div class="card-header">
        Mon Profil
        <div class="card-header-actions" style="height: 21px;">
          <button class="btn btn-warning btn-sm" [routerLink]="['/patient/update']"
            routerLinkActive="router-link-active">Modifier</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p>Bonjour {{patient.nom}}</p>
          <p>C'est avec plaisir de vous revoir</p>
        </div>
      </div>
    </div>

    <!-- TODO Calendar-->
    <div class="card">
      <div class="card-header">
        Calendar
      </div>

      <!-- <div id="calendar">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>

        <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Ajouter une spécialité</h3>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


              <div id="infos">
                <p><b>duree de la consultation : </b>{{infos.dureeConsultation}} </p>
                <p><b>note : </b>{{infos.note}} </p>
                <p><b>deplacement: </b>{{infos.deplacement}} </p>
                <p><b>Validation par le medecin : </b>{{infos.validationMedecin}} </p>
              </div>
              <div *ngIf="infos.validationMedecin==false" class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="valider()">Validation de la consultation</button>
              </div>
            </div>

          </div>
        </div> -->

      <div class="card-body">
        <div class="chart-wrapper">

        </div>
      </div>
    </div>

    <!-- Fiches Medicales -->
    <div class="card">
      <div class="card-header">
        Mes Fiches Médicales
        <div class="card-header-actions" style="height: 21px;">
          <button class="btn btn-info btn-sm" [routerLink]="['/patient/fiches']"
          routerLinkActive="router-link-active">Consulter</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <p *ngIf="indiceFiche1">Aucunes fiches médicales présentes</p>
          <table class="table tabler-bordered" *ngIf="indiceFiche2">
            <tr>
              <th>Nom</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let item of fichesSort">
              <td>{{item.nom}}</td>
              <td>
                <!-- Bouton télécharger fiche médicale TODO-->
                <button class="btn btn-warning">Download</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>