<div class="animated fadeIn">
    <div class="card border-info">
 
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <p>Patient: {{patient.nom}} {{patient.prenom}}</p>
                <div class="card-header-actions">
                    <app-addFiches-medecin></app-addFiches-medecin>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="chart-wrapper">

                <table class="table tabler-bordered">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Antecedents</th>

                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let item of fichesMedicales">
                        <td>{{item.nom}}</td>
                        <td>{{item.date |date :short}}</td>
                        <td>{{item.antecedents}}</td>

                        <td>
                            <!-- Bouton télécharger fiche médicale TODO-->
                            <button class="btn btn-warning" (click)="selectFiche(item)">détails de la fiche</button>
                        </td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-info btn-sm" [routerLink]="['/medecin/patients']" routerLinkActive="router-link-active">Retour</button>
        </div>
    </div>

    <div *ngIf="select" id="details">
        <div id="ficheMedicale">
            <div class="card">
                <div class="card-header">
                    Fiche médicale
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nom</h5>
                    <p class="card-text"> {{ficheMedicale.nom}}</p>
                    <h5 class="card-title">Date</h5>
                    <p class="card-text"> {{ficheMedicale.date|date :short}}</p>
                    <h5 class="card-title">Antécédents</h5>
                    <p class="card-text"> {{ficheMedicale.antecedents}}</p>
                    <h5 class="card-title">Observations</h5>
                    <p class="card-text"> {{ficheMedicale.observations}}</p>
                </div>
            </div>
        </div>
        <button class="btn btn-warning mdb-1" (click)="download()" style="display: block;">Télécharger</button>
    </div>
</div>