<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        Mes Patients
        <div class="card-header-actions">
          <a href="#/medecin" class="btn btn-info">Retour</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper">
        <table class="table tabler-bordered">
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>N°Securité Sociale</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let item of patientsFiltre">
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.numeroSecu}}</td>
            <td>{{item.telephone}}</td>
            <td>{{item.email}}</td>
            <td>
              <!-- Bouton télécharger fiche médicale TODO-->
              <button class="btn btn-warning" [routerLink]="['/medecin/fiches', {pId:item.id}]"
                routerLinkActive="router-link-active">Info Médicale</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>